<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Create Task</title>
</head>
<body>
<h1> Need to fill</h1>

<form th:action="@{/api/v1/manager/postForm}" th:object="${task}" method="post">
<p>
    <label>Task Description</label>
    <input type="text" th:field="*{description}">
</p>
    <input type="hidden" th:field="*{id}">
    <p>
        <label>Task Status</label>
    <select th:field="*{status}">
        <option th:each="options : ${T(com.TaskManagement.TaskMangement.Entity.TaskStatus).values()}" th:value="${options}" th:text="${options}"/>

    </select>
    </p>
    <p>
    <label>Priority</label>
    <select th:field="*{priority}">
        <option th:each="options : ${T(com.TaskManagement.TaskMangement.Entity.TaskPriority).values()}" th:value="${options}" th:text="${options}"/>

    </select>
    </p>
    <p>
    <Label>Assignee</Label>
  <select th:field="*{assignee}">
       <option th:each="temp : ${employees}" th:value="${temp.id}" th:text="${temp.email}"/>

   </select>
    </p>

<p>
   <button type="submit">Submit</button>
    </p>
</form>
<a th:href="@{/logout}">LogOut</a>
</body>

</html>